*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}
.navbar{
 opacity: .9;
}

.navbar .nav-item .nav-link .dropdown-menu .dropdown-item {
    color: var(--rose);
  }
:root{
    --dark: #1a1a1a;
    --white: #ffffff;
    --light-grey: #eeffee;
    --gold: #ecd5a7;
    --rose: #ff0080; 
}
.bg-dark{
    background-color: var(--dark );
   
}
.nav-link{
    color: var(--white);
    text-transform: uppercase;
}

section {
    padding: 6rem 0;
}

body{
    font-family: 'Raleway', sans-serif  !important;
}


.card-header{
background: transparent;
}

.contact-box{
 display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}
form{
     width: 450px;
}
.box-m{
    opacity: .8;
}
